.side-bar {
    height: 100vh;
    width: 17vw;
    position: fixed;
    box-shadow: 0 0 2rem 0 rgb(41 48 66 / 10%) !important;
    overflow: hidden;
    background-color: #293042 !important;
    color: #FFF !important;
    font-size: .9rem !important;
    padding: 0 0 0 .5rem;
}

.app-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app-logo span {
    padding: .3rem 0 0 0;
    font-weight: bold;
    font-size: 1.125rem;
    font-weight: 500;
}

.side-bar:hover {
    overflow: auto;
}

.side-bar svg {
    font-size: 1.2rem;
    color: #ADB5BD !important;
}

.list-collection {
    padding: .1rem 0;
}

.side-bar-container {
    padding: 0;
    margin: 0;
}

.nested-menu {
    padding-left: 0rem;
}

.nested-menu li a {
    color: #ADB5BD !important;
}

.side-bar a {
    color: #E9ECEF !important;    
    font-weight: normal;
}

.side-nav-list {
    padding: .5rem 0 .5rem 0;
    margin: 0;
}


.side-bar .app-logo {
    padding: .5rem 0;
}

.side-nav-list li {
    margin: .5rem 0 .5rem 0rem;
    padding: .25rem 0 .25rem .5rem;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.side-nav-list li a {
    display: flex;
    align-items: center;
}

.side-bar .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5rem 0 0 0;
}

.app-responsive-menu {
    overflow: scroll !important;
}

.side-nav-list li span {
    padding-left: 1rem;
}

.side-nav-list li {
    display: flex;
    align-items: center;
}

.side-nav-list li:hover, .active-side-nav, .side-nav-list a:hover {
    cursor: pointer;
    color: #568FED !important;
    transition: all .5s ease;
}

.side-nav-list li a:hover {
    color: #03a9f4;
}

.active-side-nav a {
    color: #e9ecef;
}

.app-logout:hover {
    cursor: pointer;
    color: #03a9f4;
}

@media screen and (max-width: 800px) {

    .side-bar {
        display: none;
    }

  }


