body {
    background-color: #F5F5F5;
    box-sizing: border-box;
}

.page-body {
    background-color: #F5F5F5;
}   

.page-main-body {
    min-height: 100vh;
}

.page {
    margin-left: 17vw;
}

.page-main {
    margin: 1rem 1rem;
}

.remove-left-margin {
    margin-left: 0 !important;
}

/*.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}*/

.page-body-header {
    color: #495057;
    padding: 1rem 0 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-icon-container {
    display: flex;
    align-items: center;
}

.header-icon-container div {
    margin-left: 1rem;
}

.chart-table-container {
    max-height: 17rem;
    overflow:auto;
}

.basic-color {
    background-color: #293042;
    color: #ADB5BD;
}

.graph-container {
    padding: 1rem;
    height: 20rem;
}

.remove-margin {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.stats-charts-container {
    display: flex;
    justify-content: space-between;
}

.stats-charts-container div {
    flex: 1;
}

/*.chart-graph-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pie-chart-graph-container .graph-container {
    height: 20rem;
}*/

.limit-chart-container-height {
    height: 5rem;
}

.main-flex {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

}

.main-flex div {
    flex: 1;
}

.chart-container {
    max-width: 100%;
}

.table-attendances-icon {
    display: flex;
    justify-content: center;
    color: #000 !important;
}

.table-attendances-icon:hover {
    color: dodgerblue !important;
}

button:focus {
    background-color: #FFF !important;
}

@media screen and (max-width: 800px) {

    .page {
        margin-left: 10vw;
    }

    .padding-top-1 {
        padding-top: 1rem !important;
    }
}


@media screen and (max-width: 800px) {
    .page {
        margin-left: 0;
    }

    .member-details-card-container {
        margin: 1rem 0;
    }

    .page-main {
        margin: 1rem;
    }
}

.selected span{
    color: dodgerblue;
}

::-webkit-scrollbar {
width: 20px;
}

::-webkit-scrollbar-track {
background-color: transparent;
}

::-webkit-scrollbar-thumb {
background-color: #a8bbbf;
border-radius: 20px;
border: 6px solid transparent;
background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
background-color: #a8bbbf;
}


.pie-chart-percentages {
    min-height: 20rem !important;
}

.percentage-row {
    display: flex;
    justify-content: space-between;
    color: dodgerblue;

}

.tables-switches-header {
    font-weight: bold;
    padding: 1rem 0;
}

.tables-switches-header svg {
    font-size: 1.5rem;
}

.table-container {
    box-shadow: 0 0 2rem 0 rgb(41 48 66 / 10%) !important;
}

.icon-header-container {
    display: flex;
    align-items: center;
}

.icon-header-container span {
    padding-left: .5rem;
}

.tables-switches-body {
    padding: 1rem 0 0 0;
}

.tables-switches-body div {
    padding: .5rem 0;
}

.input-fields-container {
    padding-top: 2rem;
}

.header-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: .5rem;

}

.app-badge {
    padding: .2rem .5rem;
    border-radius: .25rem;
    font-weight: normal;
}

.app-options-icon {
    color: #000;
}

.app-options-icon:hover {
    cursor: pointer;
    color: dodgerblue;
}

/*.app-table input {
    border: none !important;
    padding: 0 !important; 
    margin: 0 !important;
}

.MuiInputBase-input .MuiInput-input .MuiInputBase-inputAdornedStart .MuiInputBase-inputAdornedEnd input:focus {
    border-bottom: none !important;
}*/

.app-table-stats-icon i {
    border-radius: 5px;
}

.app-table-stats-icon:hover {
    cursor: pointer;
}

.table-container th, .table-container h6 {
    font-family: 'Noto Sans', 'Cairo', sans-serif !important;
}

.graph-title {
    font-family: 'Noto Sans', 'Cairo', sans-serif !important;
}

table {
    font-family: 'Noto Sans', 'Cairo', sans-serif;
}

.table-container input[type="text"],
.table-container input[type="text"]:focus,
.table-container input[type="search"],
.table-container input[type="search"]:focus
{
    border-bottom: 0px solid #FFF !important;
    box-shadow: none !important;
    margin: 0 !important;
}

.card-effect {
    box-shadow: 0 0 2rem 0 rgb(41 48 66 / 10%) !important;
    border-radius: .25rem;
}

.my-container {
    padding: .5rem;
    margin: 1rem 0;
}

.my-container-padding {
    padding: .2rem .7rem;
}

.character-counter {
    display: none !important;
}

.loading {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.send-offer-message-container {
    display: flex;
    flex-direction: column;
}

.send-offer-icon-table {
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey !important;
}


.table-form-input input[type="text"]:focus
{
    border-bottom: 1px solid #03a9f4!important;
    box-shadow: 0 1px 0 0 #03a9f4!important;
    padding-bottom: 0 !important;
}

.table-form-input input[type="text"].valid
 {
    border-bottom: 1px solid #03a9f4;
    box-shadow: 0 1px 0 0 #03a9f4;
}

.table-form-input input[type="text"]
{
    border-bottom: 1px solid #9E9E9E !important;
}

.table-form-input input[type="text"]:focus + label,
.table-form-input select + label
{
    color: #03a9f4 !important;
    padding: 0;
}

.payment-section {
    background-color: #FFF;
    border-radius: .25rem;
    box-shadow: 0 0 2rem 0 rgb(41 48 66 / 10%) !important;
    margin: 1rem 0;
    padding: 1rem;
}

.payment-section-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #F2F2F2;
    padding-bottom: .5rem;
    border-radius: .25rem;
}

.limit-table {
    max-height: 30rem;
    overflow-y: scroll;
}

.member-detail-panel {
    font-family: 'Noto Sans', 'Cairo', sans-serif !important;
}

.member-detail-panel ul li {
    padding: .5rem 1rem;
    border-bottom: 1px solid #F2F2F2;
}

.member-detail-panel ul li strong {
    font-weight: bold;
    padding-right: 1rem;
}

.notes-container li {
    padding-left: 1rem;
}

.member-notes-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.notes-table-container {
    background-color: #FFF;
    border-radius: .25rem;
    box-shadow: 0 0 2rem 0 rgb(41 48 66 / 10%) !important;
    padding: 1rem;
}

.notes-table-container h6 {
    font-weight: bold;
    font-size: 1.3rem;
    padding-bottom: 2rem;
}

.status-btn {
    padding: 5px 7px;
    border: none;
    border-radius: 10px;
}

.done{
    background-color: #e5faf2;
    color: #3bb077;
}

.pending{
    background-color: #ebf1fe;
    color: #2a7ade;
}

.declined{
    background-color: #fff0f1;
    color: #d95087;
}

.mini-table-container {
    padding: .3rem 1rem;
    border-radius: .25rem;
    box-shadow: 0 0 2rem 0 rgb(41 48 66 / 10%) !important;
}

.mini-table {
    max-height: 20rem;
    min-height: 20rem;
    overflow: auto;
}